body {
    font-family: "Raleway", sans-serif;
}

main {
    background-image: url(./img/caffe-photo.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    .section-button__menu-conotact {
        padding: 30px;


        .section-button {
            display: flex;
            a {
                background-color: transparent;
                border: none;
                outline: none;
                padding: 15px;
                margin: 10px 0;
                background-color: black;
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
            }

            a:hover {
                background-color: rgb(212, 212, 212);
                color: black;
            }
        }
    }
}

.div-section-logo{
    h1{
        position: absolute;
        top: 50%;
        left:  50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 4rem;
    }
}